/*
 *= require_self
 *= require ./bootstrap-combined.min
*/

h1#title {
  text-align: center;
}


#converter {

    .objc,
    .rubymotion {
      padding: 20px 4% 20px 4%;
      width: 44%;
      float: left;
      position: relative;

      h2 {
        font-size: 14px;
        background-color: #ddd;
        border: 2px solid #ddd;
        border-radius: 4px;
        border-bottom: none;
        display: inline-block;
        padding: 0 10px;
        margin: 0 0 -2px 4px;
      }

      textarea,
      pre {
        font-size: 10px;
        height: 400px;
        font-family: monospace;
        width: 100%;
        background-color: #fff;
        border: 2px solid #ddd;
        border-radius: 4px;
      }

    }

    .objc {
      padding-right: 2%;

    }
    .rubymotion {
      padding-left: 2%;

      pre {
        height: 390px;
      }
    }
}

p#about-converter {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
