!!!
%html
  %head
    %title Ember-Sinatra-Moc
    %script{:src => "assets/javascripts/vendor.js"}
    %script{:src => "assets/javascripts/app.js"}
    %link{:href => "assets/stylesheets/app.css", :rel => "stylesheet"}/
  %body

    %h1 STUFF GOES HERE

